<!doctype html>

<html lang="en" ng-app="Basic">
<head>
  <meta charset="utf-8">
 <base href="/">
  <title>Basic Angularjs Templating</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="Md Nazmul Islam Tanvir" content="Basic AngularJs Templating">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
  <link rel="stylesheet" href="css/style.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>

      </ul>
    </div>
  </nav>
</head>

<body ng-controller="mainController">


  <div id="main">
    <div ng-view>
      <p>{{ message }}</p>
    </div>
  </div>

  <!-- <footer class="footer">
        <div class="container">
          <p class="text-muted">Place sticky footer content here.</p>
        </div>
  </footer> -->
        <script src="js/angular/angular.min.js"></script>
        <script src="js/angular/angular-route.js"></script>
        <script src="js/route.js"></script>
        <script src="js/main.js"></script>

</body>
</html>
