<div class="jumbotron text-center">
    <h1>All The Songs</h1>
    <hr />
    <div class="col-md-12">
      <div ng-repeat="x in songs" class="col-md-3 songs">
        name : {{x.Upload.title}} uploaded By {{x.User.username}}
        <audio controls>
          <source src="http://toongtaang.com/files/{{x.Upload.file}}" type="audio/ogg">
          <source src="http://toongtaang.com/files/{{x.Upload.file}}" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>

      </div>

    </div>


</div>
